// imports
@import 'reset.scss';
@import 'typo.scss';
@import 'grid.scss';

// utils

*{
  box-sizing: border-box;
}
img{
  display: block;
  height: auto;
  max-width: 100%;
}

@mixin marginDyn($marge){
  @for $i from 1 through 3{
    .m-#{$i}{ margin: $marge * $i; }
    .mt-#{$i}{ margin-top: $marge * $i; }
    .ml-#{$i}{ margin-left: $marge * $i; }
    .mb-#{$i}{ margin-bottom: $marge * $i; }
    .mr-#{$i}{ margin-right: $marge * $i; }
    .p-#{$i}{ padding: $marge * $i; }
    .pt-#{$i}{ padding-top: $marge * $i; }
    .pl-#{$i}{ padding-left: $marge * $i; }
    .pb-#{$i}{ padding-bottom: $marge * $i; }
    .pr-#{$i}{ padding-right: $marge * $i; }
  }
}
@include marginDyn($marge);
@media (max-width: #{$xsPoint}){
  @include marginDyn($marge / 2);
}

.no-margin{
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}